/* General cascating style */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */

    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    overflow-x: hidden;

    /* Does NOT work on Safari */
    /* scroll-behavior: smooth; */
}

body {
    line-height: 1;
    font-weight: 400;
    color: #555;
    font-family: 'Rubik', sans-serif;

    /* Only works if there is nothing absolutely positioned in relation to body */
    overflow-x: hidden;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}
/* HEADER STYLING */
.logo {
    text-decoration: none;
}
.logo span {
    font-size: 1.8rem;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    height: 9rem;
    padding: 0 5rem;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #6f6f6f;
}
.nav {
    margin-right: 5rem;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.btn-mobile-nav {
    outline: none;
    background: none;
    display: none;
    cursor: pointer;
}
.icon-mobile-nav {
    width: 4.8rem;
    height: 4.8rem;
}
.icon-mobile-nav[name='menu-outline'] {
    display: none;
}
.nav-item {
    list-style: none;
}
.nav-link:link,
.nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
    transition: all 0.5s;
}
.nav-link.nav-link__btn:link,
.nav-link.nav-link__btn:visited {
    background: #e67e22;
    padding: 1.2rem 2.4rem;
    border-radius: 7px;
    color: #fff;
}
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 1344px) {
}
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 1200px) {
    html {
        /* 9px / 16px  */
        font-size: 56.25%;
    }
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 944px) {
    html {
        /* 8px / 16px  */
        font-size: 50%;
    }
} ;
